.bbmg {
    margin: 2px;
}


.Announcer {
    position: fixed;
    right:10px;
    top: 45px;
    width: 350px;
    max-width: 100vw;
    height: 350px;
    max-height: 50vh;   
    overflow: hidden;
    pointer-events: none;
}

.Message {
    width: calc(99% - 10px);
    border-radius: 5px;
    padding: 4px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.grn {
    background-color: rgb(50,200,50);
    color: rgb(15,85,15);
    border: 2px solid rgb(15,85,15)
}
.yel {
    background-color: rgb(220,180,0);
    color: rgb(65,50,0);
    border: 2px solid rgb(65,50,0)
}
.rd {
    background-color: rgb(200,50,50);
    color: rgb(85,15,15);
    border: 2px solid rgb(85,15,15);
}