#g_leftSide{
    width: 20vw;
    height: 100vh;
    position: relative;
    top:0px;
}
#g_toptions {
    height: calc(calc(100vh - 30px) / 3);
    width: 100%;
    overflow-y: auto;
}
#g_midicons {
    padding-bottom: 1px;
    padding-top: 1px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 100%;
}
html {
  overflow-x: auto; /* horizontal scroll enabled */
  overflow-y: hidden; /* hide vertical scrollbar */
}
html::-webkit-scrollbar {
  height: 6px;  /* horizontal scrollbar thickness */
  width: 0;     /* vertical scrollbar hidden */
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.4);
  border-radius: 3px;
}

#g_chat {
    height:  calc(calc(100vh - 30px) / 1.5);
    width: 100%;
    display: flex;
    flex-direction: column;
}
#g_msgs {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    overflow: auto;
}
#g_msgs h4 {
    margin: 2px;
}
#g_msgs p {
    margin: 2px;
    border-bottom: 1px solid black;
}
#g_chatinput{
    display: flex;
}
#g_chatinput > textarea {
    width: 100%;    
    resize: none;
}
#g_chatinput > button {
    padding: 0px 10px;
}
.bigredX {
    position: absolute;
    top: 10%;
    left: 10%;
    font-size: 2em;
    padding: 10px;
    border-radius: 100%;
    background-color: red;
}
#g_rightSide {
    width: 30vw;
    height: 100vh;
    position: relative;
    top:0px;
}


#g_bigAhhCard {
    width: 100%;
    height: 56%;
}
#g_middle {
    height: 100vh;
    width: 50vw;
}
.board {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 36% 36% 28%;
    width: 50vw;
    height: 50vh;
    background-color: beige;
}

#g_oppBoard{
    transform: scaleY(-1);
}
#g_oppBoard > * {
    transform: scaleY(-1);
}
.board  > div {
    border: 1px solid black;
}
.charZone {
    grid-area: 1 / 1 / 2 / 6; 
    display: flex;
    position: relative;
    top:0px
}
.charZone > .card {
    margin-top:0px;
    height: 100%;
}
.donnZone {
       overflow-x: scroll;
    overflow-y: hidden;
}
.donnZone > .card {
    margin-top: 0px;
    height: 100%;
 
}


.lifeZone {
    grid-area: 2 / 1 / 3 / 3; 
}

.donnZone {
    grid-area: 3 / 2 / 4 / 5; 
        display: flex;

}

body{
    all:unset;
    display: flex;
    overflow: hidden;
    transform-style: preserve-3d;
      perspective: 7000px;

}

.Announcer {
    position: fixed;
    right:10px;
    top: 45px;
    width: 350px;
    max-width: 100vw;
    height: 350px;
    max-height: 50vh;   
    overflow: hidden;
    pointer-events: none;
    z-index: 10000;
}

.Message {
    width: calc(99% - 10px);
    border-radius: 5px;
    padding: 4px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.grn {
    background-color: rgb(50,200,50);
    color: rgb(15,85,15);
    border: 2px solid rgb(15,85,15)
}
.yel {
    background-color: rgb(220,180,0);
    color: rgb(65,50,0);
    border: 2px solid rgb(65,50,0)
}
.rd {
    background-color: rgb(200,50,50);
    color: rgb(85,15,15);
    border: 2px solid rgb(85,15,15);
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top:0px;
    left:0px;
    background-color: rgba(127,127,127,0.4);
    z-index: 999;
}

.twc {
    position: absolute;
    top:50%; left:50%;
    transform: translate(-50%, -50%);
}

.gbg {
    background-position: center;
    background-size: cover;
    
}
.gb2 {
       background-position: center;
    background-size: contain; 
    background-repeat: no-repeat;
}

.emoji {
    background-position: center;
    background-size: cover;   
    display: inline-block;
    width: 1.35em;
    height: 1.35em;
}
.big.emoji  {
    width: unset;
    height: 30%;
    aspect-ratio: 1;
}
button.emoji {
    border-radius: 40%;
}

.br {
    position: absolute;
    bottom:0px;
    right:0px;
    margin: 0px;
    padding: 0px;
    text-shadow: 0px 0px 1px black;
    color: rgb(50,200,50)
}
.zone {
    position: relative;
    top: 0px
}
.card, .deck {
    height: 95%;
    position: relative;
    top:0px;
    aspect-ratio:5 / 7;
    margin:auto auto;
    margin-top: 2.5%;
        transform-style: preserve-3d;
    transition: all 0.3s;

}
.deck {
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items:space-around;
    align-content: space-around;
    background-color: rgba(127,127,127,0.4);

}
.deck > button {
    background-color: rgba(0,0,0,0.7);
    color:white;
    border-radius: 100px;
    border: 2px solid white;
    width:90%;
    margin: auto auto;
}
.deck > .h {
    height: 50%;
    width: 100%;
    border-radius: 0px;
}
.card:hover, .deck:hover {
    scale: 1.05;
}
.condensed {
    font-size: 0.7em;
    margin: 0;
    padding: 0;
    width:100%
}
#g_edBottom{
    display: flex;
    overflow: auto;
    height: 200px;
    width: 100vw;
    z-index: 4;
}
#g_usExtraZones, #g_oppExtraZones {
    height:22%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    top:0px;
    position: relative;
}
#g_usPanel, #g_oppPanel{
    height: 15%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: rgb(100,227,100);
    position: relative;
    top: 0px;
    padding: 0px;
    display: flex;
}
#g_usPanel>button, #g_oppPanel>button {
    height: 100%;
    margin: 0px;
    margin-right: 5px;
    padding: 0px;
}
#g_usEZ, #g_oppEZ{
    height: 90%;
    display:flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    transform-style: preserve-3d;
    z-index: 3;
}
#g_usEZ > .card, #g_oppEZ > .card {
    margin-top: 0px;
    height: 100%;
    z-index: 10;
}
#g_usEZ>.card:hover{
    z-index: 40;
    translate: 0px -10px;
}
button {
    transition: all 0.3s;
}
button:hover {
    scale:1.05;
    filter:  url(#add-brightness);
}
button:active{
    scale: 0.97;
    filter: url(#rem-brightness) ;
}

.showModes {
    position: absolute;
    bottom: 1%;
    display: flex;
    overflow: visible;
}

.showModes > .emoji {
    width: 0px;
    min-width: 0px;       
    height: 0px;
    min-height: 0px;
    height: unset;
    flex: 1 1 25%;
    margin: 1px;
    aspect-ratio: 1;
    padding: 1px;
    border-radius: 3px;
    outline: unset;
    border: 1px solid black;
}

