#g_leftSide{
    width: 20vw;
    height: 100vh;
    position: relative;
    top:0px;
}
#g_toptions {
    height: calc(calc(100vh - 1.137em) / 3);
    width: 100%;
    overflow: hidden;
    background-color: beige;
    position: relative;
    top:0px
}
#g_midicons {
    padding-bottom: 1px;
    padding-top: 1px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 100%;
    height: 1.137em;
    background-color: rgb(100,227,100);
}
html {
  overflow-x: auto; /* horizontal scroll enabled */
  overflow-y: hidden; /* hide vertical scrollbar */
}


#g_chat {
    height:  calc(calc(100vh - 1.137em) / 1.5);
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(210,210,210);
}
#g_msgs {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    overflow: auto;
}
#g_msgs h4 {
    margin: 2px;
    padding: 0px;
}
#g_msgs p {
    padding: 2px;
    margin: 0px;
}
.Server {
    background-image: linear-gradient(0turn, rgba(210,210,210,1),10%,rgba(160,160,160,1),rgba(160,160,160,0));

}
.You {
    background-image: linear-gradient(0turn, rgba(120,200,255,1),10%,rgba(120,150,235,1),rgba(120,150,235,0.5));
}
.Opponent {
    background-image: linear-gradient(0turn,rgba(255,200,120,1),10%,rgba(235,150,120,1),rgba(235,150,120,0.5));
}
#g_chatinput{
    display: flex;
}
#g_chatinput > textarea {
    width: 100%;    
    resize: none;
}
#g_chatinput > button {
    padding: 0px 10px;
}
.bigredX {
    position: absolute;
    top: 10%;
    left: 10%;
    font-size: 2em;
    padding: 10px;
    border-radius: 100%;
    background-color: red;
}
#g_rightSide {
    width: 30vw;
    height: 100vh;
    position: relative;
    top:0px;
    background-color: beige;
}


#g_bigAhhCard {
    width: 100%;
    height: 56%;
}
#g_middle {
    height: 100vh;
    width: 50vw;
}
.dselmain {
    display: flex;
    justify-content: left;
}
.dselmain > div {
    margin: 20px;
    border: 2px solid black;
    border-radius: 5px;
}
.board {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 36% 36% 28%;
    width: 50vw;
    height: 50vh;
  
}
#g_usBoard {
    background-color: rgb(168,190,245);
}

#g_oppBoard{
    transform: scaleY(-1);
    background-color: rgb(245,190,168);

}
#g_oppBoard > * {
    transform: scaleY(-1);
}
.board  > div {
    border: 1px solid black;
}
.charZone {
    grid-area: 1 / 1 / 2 / 6; 
    display: flex;
    position: relative;
    top:0px
}
.charZone > .card {
    margin-top:0px;
    height: 100%;
}
.donnZone {
       overflow-x: scroll;
    overflow-y: hidden;
}
.donnZone > .card {
    margin-top: 0px;
    height: 100%;
 
}


.lifeZone {
    grid-area: 2 / 1 / 3 / 3; 
}

.donnZone {
    grid-area: 3 / 2 / 4 / 5; 
        display: flex;

}

body{
    all:unset;
    display: flex;
    overflow: hidden;
    transform-style: preserve-3d;
      perspective: 7000px;

}

.Announcer {
    position: fixed;
    right:10px;
    top: 45px;
    width: 350px;
    max-width: 100vw;
    height: 350px;
    max-height: 50vh;   
    overflow: hidden;
    pointer-events: none;
    z-index: 10000;
}

.Message {
    width: calc(99% - 10px);
    border-radius: 5px;
    padding: 4px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.grn {
    background-color: rgb(50,200,50);
    color: rgb(15,85,15);
    border: 2px solid rgb(15,85,15)
}
.yel {
    background-color: rgb(220,180,0);
    color: rgb(65,50,0);
    border: 2px solid rgb(65,50,0)
}
.rd {
    background-color: rgb(200,50,50);
    color: rgb(85,15,15);
    border: 2px solid rgb(85,15,15);
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top:0px;
    left:0px;
    background-color: rgba(127,127,127,0.4);
    z-index: 999;
}

.uverlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top:0px;
    left:0px; 
    z-index: 1200;
    text-align: center;
    pointer-events: none;
}
.uverlay > h1 {
    font-size: 3em;
    margin: 3px;
    color: rgb(0,0,0);
    text-shadow: 2px 0px 3px white, 0px 2px 3px white, -2px 0px 3px white, 0px -2px 3px white;
}
.uverlay > p {
    font-size: 1.85em;
    margin: 0px;
    color: rgb(0,0,0);
    font-weight: bold;
    text-shadow: 1px 0px 2px white, 0px 1px 2px white, -1px 0px 2px white, 0px -1px 2px white;

}
.twc {
    position: absolute;
    top:50%; left:50%;
    transform: translate(-50%, -50%);
}

.gbg {
    background-position: center;
    background-size: cover;
    
}
.gb2 {
       background-position: center;
    background-size: contain; 
    background-repeat: no-repeat;
}

.emoji {
    background-position: center;
    background-size: cover;   
    display: inline-block;
    width: 1.35em;
    height: 1.35em;
}
.big.emoji  {
    width: unset;
    height: 30%;
    aspect-ratio: 1;
}
button.emoji {
    border-radius: 40%;
}

.br {
    position: absolute;
    bottom:0px;
    right:0px;
    margin: 0px;
    padding: 0px;
    text-shadow: 0px 0px 1px black;
    color: rgb(200,255,200);
    background-color: rgba(0,0,0,0.55);
    font-size: 1.3em;
}
.zone {
    position: relative;
    top: 0px
}
#g_upNote,#g_remNote {
    margin-top: 4px;
    border-radius: 10px;
}
.note {
    pointer-events: none;
    position: absolute;
    top:60%; 
    transform: translate(0, -60%);
    width: 100%;
    background-color: rgba(30,30,30,0.7);
    color: rgb(100,227,100);
    text-align: center;
    font-size: 1.21em;
}
.card, .deck {
    height: 95%;
    position: relative;
    top:0px;
    aspect-ratio:5 / 7;
    margin:auto auto;
    margin-top: 2.5%;
    transform-style: preserve-3d;
    transition: all 0.3s;

}
.p {
        border: 2px solid red;

}
.deck > div {
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items:space-around;
    align-content: space-around;
    background-color: rgba(127,127,127,0.4);
    height: 100%;
    width: 100%;

}
.deck > div > button {
    background-color: rgba(0,0,0,0.7);
    color:white;
    border-radius: 100px;
    border: 2px solid white;
    width:90%;
    margin: auto auto;
}
.deck > div > .h {
    height: 50%;
    width: 100%;
    border-radius: 0px;
}
.card:hover, .deck:hover {
    scale: 1.05;
}
.condensed {
    font-size: 0.7em;
    margin: 0;
    padding: 0;
    width:100%
}
#g_edTop{
    background-color: rgb(100,227,100);
    text-align: center;
}
#g_edBottom{
    display: flex;
    overflow: auto;
    height: 200px;
    width: 100vw;
    z-index: 4;
}
#g_edBottom > .card{
    margin-top: 0px;
    height: 100%;
    overflow: visible;
}

#g_pos {
    overflow: hidden;
}
#g_moveUp, #g_moveDown {
    border-radius: 20px;
}
#g_moveToTop #g_moveToBtm {
    border-radius: 0px;
    margin: 2px;
    color: red;
}
#g_moveTo{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-bottom: 20px;
}
#g_moveTo > button {
    background-color: rgba(20,20,20,0.6);
    color: white;
    border: 1px solid white;
    margin: 0px;
    padding: 1px;
}

#g_usExtraZones, #g_oppExtraZones {
    height:22%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    top:0px;
    position: relative;
}
#g_usPanel, #g_oppPanel{
    height: 15%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: rgb(100,227,100);
    position: relative;
    top: 0px;
    padding: 0px;
    display: flex;
}
#g_usPanel>button, #g_oppPanel>button {
    height: 100%;
    margin: 0px;
    margin-right: 5px;
    padding: 0px;
}
#g_usEZ, #g_oppEZ{
    height: 90%;
    display:flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    transform-style: preserve-3d;
    z-index: 3;
}
#g_usEZ > .card, #g_oppEZ > .card {
    margin-top: 0px;
    height: 100%;
    z-index: 10;
}
#g_usEZ>.card:hover{
    z-index: 40;
    translate: 0px -10px;
}
button {
    transition: all 0.3s;
}
button:hover {
    scale:1.05;
    filter:  url(#add-brightness);
}
button:active{
    scale: 0.97;
    filter: url(#rem-brightness) ;
}

.showModes {
    position: absolute;
    bottom: 1%;
    display: flex;
    overflow: visible;
}

.showModes > .emoji {
    width: 0px;
    min-width: 0px;       
    height: 0px;
    min-height: 0px;
    height: unset;
    flex: 1 1 25%;
    margin: 1px;
    aspect-ratio: 1;
    padding: 1px;
    border-radius: 3px;
    outline: unset;
    border: 1px solid black;
}

#g_attachCard {
    background-color: rgb(120,120,120);
}

#g_dispYou, #g_dispOpp {
    display: flex;
    position: relative;
    width: 100%;
    height: 50%;
    top:0%;
    background-image: linear-gradient(0turn, rgba(120,120,255,1),10%,rgba(120,150,235,0.5),45%, rgba(0,0,0,0));
}
#g_opppfp, #g_yourpfp {
    aspect-ratio: 1;
    border-radius: 20%;
    margin-top: 5px;
    margin-bottom: 15px;
    margin-right: 0px;
    margin-left: 0px;
}
#g_opppfp {
        margin-top: 15px;
    margin-bottom: 5px;

}
#g_dispOpp {
    flex-direction: row-reverse;
    text-align: right;
    background-image: linear-gradient(0.5turn,rgba(255,120,120,1),10%,rgba(235,150,120,0.5),45%,rgba(0,0,0,0));

}

#g_dispYou h3 , #g_dispOpp h3 {
    font-size: 1.5em;
    margin: 3px;
    margin-top: 20px;
}
#g_dispYou p , #g_dispOpp p {
    font-size: 1em;
    margin: 1px;
}